<div class="app">
  <app-navigation class="navigation-bars"></app-navigation>
  <div class="header-container">
    <app-toolbars class="tool-bars"></app-toolbars>
  </div>
  <div class="main-conten">
    <app-chitietkhachhang ></app-chitietkhachhang>
  </div>
</div>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #3B6AC3">
    © 2021 Copyright:
    <a class="text-dark" style="font-weight: bold;">Designed by HoangVinh</a>
  </div>
  <!-- Copyright -->
</footer>
