<div class="lichsugiaodichkhachhang__container" style="background: whitesmoke;">
  <h3 class="screen-info__container">Chi tiết giao dịch khách hàng</h3>
  <div class="search-box">
      <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" style="border-color: gray;" />
          <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
          </span>
      </div>
  </div>
  <div class="config-function">
    <div class="name">
        Khách hàng: <span style="font-weight: bold;">Đỗ Nam Trung</span>
       <span class="text-date-from" style="font-weight: bold;">Từ ngày </span>
       <input class="textbox-from" type="datetime" placeholder="1/1/2020" style="border-color: gray;" />
       <img src="./assets/calendar.png" alt="calendar" class="calendar"/>
       <span class="text-date-to" style="font-weight: bold;">Đến ngày </span>
       <input class="textbox-to" type="datetime" placeholder="1/1/2021" style="border-color: gray;" />
       <img src="./assets/calendar.png" alt="calendar" class="calendar"/>
  </div>
  </div>
  <div class="overflow-auto">
      <div class="datatable">
          <table class="table table-bordered" style="border-color: black; background: white;">
              <thead class="thead-light" style="background: whitesmoke;">
                  <tr>
                      <th scope="col">
                          <input type="checkbox" />
                      </th>
                      <th scope="col">STT</th>
                      <th scope="col">Tên khách hàng</th>
                      <th scope="col">Số điện thoại</th>
                      <th scope="col">Email</th>
                      <th scope="col">Nhóm khách hàng&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></th>
                      <th scope="col">Dịch vụ quan tâm</th>
                      <th scope="col">Thời điểm liên hệ gần nhất&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row"><input type="checkbox" /></th>
                      <td>1</td>
                      <td>Đỗ Nam Trung</td>
                      <td>09159797992</td>
                      <td>realdnTrung@gmail.com</td>
                      <td>Mới&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></td>
                      <td>Smartphone</td>
                      <td>16:00 - 14/02/2020</td>
                  </tr>
                  <tr>
                      <th scope="row"><input type="checkbox" /></th>
                      <td>1</td>
                      <td>Đỗ Nam Trung</td>
                      <td>09159797992</td>
                      <td>realdnTrung@gmail.com</td>
                      <td>Mới&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></td>
                      <td>Smartphone</td>
                      <td>16:00 - 14/02/2020</td>
                  </tr>
                  <tr>
                      <th scope="row"><input type="checkbox" /></th>
                      <td>1</td>
                      <td>Đỗ Nam Trung</td>
                      <td>09159797992</td>
                      <td>realdnTrung@gmail.com</td>
                      <td>Mới&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></td>
                      <td>Smartphone</td>
                      <td>16:00 - 14/02/2020</td>
                  </tr>
                  <tr>
                      <th scope="row"><input type="checkbox" /></th>
                      <td>1</td>
                      <td>Đỗ Nam Trung</td>
                      <td>09159797992</td>
                      <td>realdnTrung@gmail.com</td>
                      <td style="color: yellowgreen; font-weight: bold;">Đang cân nhắc&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></td>
                      <td>Smartphone</td>
                      <td>16:00 - 14/02/2020</td>
                  </tr>
                  <tr>
                      <th scope="row"><input type="checkbox" /></th>
                      <td>1</td>
                      <td>Đỗ Nam Trung</td>
                      <td>09159797992</td>
                      <td>realdnTrung@gmail.com</td>
                      <td>Mới&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></td>
                      <td>Smartphone</td>
                      <td>16:00 - 14/02/2020</td>
                  </tr>
                  <tr>
                      <th scope="row"><input type="checkbox" /></th>
                      <td>1</td>
                      <td>Đỗ Nam Trung</td>
                      <td>09159797992</td>
                      <td>realdnTrung@gmail.com</td>
                      <td style="color: yellowgreen; font-weight: bold;">Đang cân nhắc&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></td>
                      <td>Smartphone</td>
                      <td>16:00 - 14/02/2020</td>
                  </tr>
                  <tr>
                      <th scope="row"><input type="checkbox" /></th>
                      <td>1</td>
                      <td>Đỗ Nam Trung</td>
                      <td>09159797992</td>
                      <td>realdnTrung@gmail.com</td>
                      <td style="color: gold; font-weight: bold;">Tiềm năng&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></td>
                      <td>Smartphone</td>
                      <td>16:00 - 14/02/2020</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="chart-container">
          <img src="./assets/meta-chart.png" alt="chart" class="chart" />
      </div>
  </div>
  <div class="vehicle__bottom">
      <div class="vehicle__bottom__btn">Xuất file</div>
  </div>
</div>
