<div class="thongkedoanhthu__container" style="background: whitesmoke;">
  <h3 class="screen-info__container">Thống kê doanh thu</h3>
  <div class=search-box>
    <div class="input-group rounded">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" style="border-color: gray;" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
</div>
<div class="overflow-auto">
<div class=datatable>
  <table class="table table-bordered" style="border-color:black;background: white;">
    <thead class="thead-light"
    style="background: whitesmoke;">
      <tr>
        <th scope="col">
          <input type="checkbox" />
        </th>
        <th scope="col">STT</th>
        <th scope="col">Tên khách hàng</th>
        <th scope="col">Tổng doanh thu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></th>
        <th scope="col">Nhóm khách hàng &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></th>
        <th scope="col">Thời điểm thống kê&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></th>
        <th scope="col">Đơn vị tiền tệ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></th>
        <th scope="col">Đơn vị thời gian&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>1</td>
        <td>Đỗ Nam Trung</td>
        <td style="color: green;font-weight: bold;">16.000.000</td>
        <td>Mới </td>
        <td>16:00 - 14/02/2020 </td>
        <td>VNĐ </td>
        <td>Tuần </td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>1</td>
        <td>Đỗ Nam Trung</td>
        <td style="color: green;font-weight: bold;">16.000.000</td>
        <td style="color: gold;font-weight: bold;">Tiềm năng </td>
        <td>16:00 - 14/02/2020 </td>
        <td>VNĐ </td>
        <td>Tuần </td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>1</td>
        <td>Đỗ Nam Trung</td>
        <td style="color: green;font-weight: bold;">16.000.000</td>
        <td style="color: green;font-weight: bold;">Đã mua hàng </td>
        <td>16:00 - 14/02/2020 </td>
        <td>VNĐ </td>
        <td>Tuần </td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>1</td>
        <td>Đỗ Nam Trung</td>
        <td style="color: green;font-weight: bold;">16.000.000</td>
        <td style="color: red;font-weight: bold;">Chưa mua hàng </td>
        <td>16:00 - 14/02/2020 </td>
        <td>VNĐ </td>
        <td>Tuần </td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>1</td>
        <td>Đỗ Nam Trung</td>
        <td style="color: green;font-weight: bold;">16.000.000</td>
        <td>Mới </td>
        <td>16:00 - 14/02/2020 </td>
        <td>VNĐ </td>
        <td>Tuần </td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>1</td>
        <td>Đỗ Nam Trung</td>
        <td style="color: green;font-weight: bold;">16.000.000</td>
        <td style="color: green;font-weight: bold;">Đã mua hàng </td>
        <td>16:00 - 14/02/2020 </td>
        <td>VNĐ </td>
        <td>Tuần </td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>1</td>
        <td>Đỗ Nam Trung</td>
        <td style="color: green;font-weight: bold;">16.000.000</td>
        <td style="color: red;font-weight: bold;">Chưa mua hàng </td>
        <td>16:00 - 14/02/2020 </td>
        <td>VNĐ </td>
        <td>Tuần </td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>1</td>
        <td>Đỗ Nam Trung</td>
        <td style="color: green;font-weight: bold;">16.000.000</td>
        <td>Mới </td>
        <td>16:00 - 14/02/2020 </td>
        <td>VNĐ </td>
        <td>Tuần</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>1</td>
        <td>Đỗ Nam Trung</td>
        <td style="color: green;font-weight: bold;">16.000.000</td>
        <td style="color: red;font-weight: bold;">Chưa mua hàng </td>
        <td>16:00 - 14/02/2020 </td>
        <td>VNĐ </td>
        <td>Tuần </td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>1</td>
        <td>Đỗ Nam Trung</td>
        <td style="color: green;font-weight: bold;">16.000.000</td>
        <td style="color: green;font-weight: bold;">Đã mua hàng </td>
        <td>16:00 - 14/02/2020 </td>
        <td>VNĐ </td>
        <td>Tuần </td>
      </tr>

      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>1</td>
        <td>Đỗ Nam Trung</td>
        <td style="color: green;font-weight: bold;">16.000.000</td>
        <td style="color: gold;font-weight: bold;">Tiềm năng </td>
        <td>16:00 - 14/02/2020 </td>
        <td>VNĐ </td>
        <td>Tuần </td>
      </tr>

      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>1</td>
        <td>Đỗ Nam Trung</td>
        <td style="color: green;font-weight: bold;">16.000.000</td>
        <td style="color: green;font-weight: bold;">Đã mua hàng </td>
        <td>16:00 - 14/02/2020 </td>
        <td>VNĐ</td>
        <td>Tuần </td>
      </tr>

    </tbody>
  </table>
</div>
</div>
  <div class="vehicle__bottom">
    <div class="vehicle__bottom__btn">Xuất file</div>
  </div>
