.chitietkhachhang__container{
  height:800px;
  width: 1870px;
  border:2px solid gray;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: -20px;
}
.screen-info__container{
  width:fit-content;
  margin-top:-12px;
  margin-left:5px;
  background:white;
  font-size: 18px;
  font-weight: normal;
}
.vehicle__bottom {
  width: 100%;
  height: 68px;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}
.vehicle__bottom__btn {
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
  color: #fff;
  padding: 8px 25px;
  background-color: #2959B4;
  margin-right: 25px;
  border-color: black;
}
.avatar{
  margin-left: 10px;
  width: 8%;
  height: 8%;
}
.info{
  margin-left: 165px;
  margin-top: -50px;
  width: 100px;
}
.dropdown-loaikh{
margin-left: 170px;
margin-top: -50px;

}
.date-text{
  margin-left: 15px;
}
.giaodich
{
margin-top:15px;
margin-left:10px;
}
.birth{
margin-left: 10px;
}
.textbox-from
{
margin-left:150px;
}
.calendar{
  width: 2.1%;
  height: 2.1%;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.textbox-phone
{
margin-left:100px;
}
.phone{
  margin-left: 600px;
}
.textbox-email
{
margin-left:158px;
}
.email{
  margin-top: -30px;
  margin-left: 750px;
}
.sex{
  margin-left: 10px;
  margin-bottom: -30px;
  }
.dropdown-sex{
margin-left: 234px;
margin-top: -30px;
}
