<div class="chitietkhachhang__container" style="background: whitesmoke;">
  <h3 class="screen-info__container">Chi tiết khách hàng</h3>
  <div class="avatar-name">
    <div class="name"><img src="./assets/avatar.jfif" alt="avatar" class="avatar"/>
<span style="font-weight: bold;font-size: x-large; margin-left: 10px;">Đỗ Nam Trung</span></div>
<div class="dropdown-loaikh">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="color: red;background:#FFA7A7;border-color: red;">
    Mới
  </button>
  <span class="date-text" style="font-weight:bold ;font-size: 18px;">14:00-1/12/2020</span>
</div>
  </div>

<div class="giaodich">
<a href="/LichSuGiaoDich" style="color: #0047FF;font-weight: bold;">Chi tiết giao dịch khách hàng</a>
</div>

<div class="birth-phone">
  <span class="birth" style="font-weight: bold;">Ngày sinh</span>
  <input class="textbox-from" type="datetime" value="1/1/2021" style="border-color: gray;font-size: 20px;" />
       <img src="./assets/calendar.png" alt="calendar" class="calendar"/>
  <span class="phone" style="font-weight: bold;">Số điện thoại</span>
  <input class="textbox-phone" type="number" value="01234567890" style="border-color: gray;font-size: 20px;" />
</div>

<div class= sex-email>
  <span class="sex" style="font-weight: bold;">Giới tính</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
    style="background: white;border-color: black;color: black;margin-top:60px; margin-left:70px;font-size: 20px;">
      Nam
    </button>
  <span class="email" style="font-weight: bold;">Email</span>
  <input class="textbox-email" type="text" value="realdnTrung@gmail.com" style="border-color: gray;font-size: 20px;" />
</div>

<div class="inter-address">
  <span class="inter" style="font-weight: bold;">Dịch vụ quan tâm</span>
  <input class="textbox-inter" type="text" value="Smartphone" style="border-color: gray;font-size: 20px;" />

  <span class="address" style="font-weight: bold;">Địa chỉ</span>
  <input class="textbox-address" type="text" value="Khu phố 6" style="border-color: gray;font-size: 20px;" />

  <div class="local-address">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
    style="background: white;border-color: black;color: black;margin-top:60px;font-size: 20px;">
      Linh Trung
    </button>

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
    style="background: white;border-color: black;color: black;margin-top:60px; margin-left:30px;font-size: 20px;">
      Thủ Đức
    </button>

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
    style="background: white;border-color: black;color: black;margin-top:60px; margin-left:30px;margin-right:75px;font-size: 20px;">
      TPHCM
    </button>
  </div>
</div>

  <div class="vehicle__bottom">
      <div class="vehicle__bottom__btn">Xác nhận</div>
  </div>
</div>
